<!DOCTYPE html>
<html lang="en">
<head>
  <title>KeysApp</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body class="bg-dark">

<nav class="navbar navbar-dark sticky-top" style="background-color: #f7444e;"> <!-- BARRA DE NAVEGACIÓN -->   
  <a class="navbar-brand" href="/login">  
      Cerrar sesión
  </a>
  <!-- <a class="navbar-brand" href="/home">
      <img src="../../assets/images/logomobygrande.png" style="max-height: 30px;" alt="MOBYDIGITAL"/>
  </a> -->
  <a href="/admin">
      <div class="home-button">
          <button mat-icon-button>
          <mat-icon>home</mat-icon>
          </button>
      </div>
  </a>
</nav> <!-- FIN ** BARRA DE NAVEGACIÓN -->

<br><br><br><br>
<div class="container d-flex align-items-center flex-column justify-content-center 
            h-100 bg-dark text-white" style="height:300px"> <!-- INICIO DE PÁGINA -->
  <h1 class="display-3">Moby <small>Digital</small></h1>
  <p>Listado de personas con posesión de llaves de la oficina</p>
</div> <!-- FIN ** INICIO DE PÁGINA -->
<br><br><br><br>
<hr>

 <br>
<div class="container text-center container-light d-flex justify-content-center"> <!-- LISTADO DE PERSONAS -->  
  <button (click)="Listar()" mat-raised-button style="background-color: #f7444e;" class="button-text">Listar</button>
</div> <!-- FIN ** LISTADO DE PERSONAS -->

<router-outlet></router-outlet>