<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Sesión</title>
</head>
<body>
    <div class="container d-flex align-items-center flex-column justify-content-center h-100 bg-dark text-white" id="container">
        <h1 class="display-4">Ingresá</h1>
        <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <input class="form-control form-control-lg" placeholder="Usuario" (keydown)="onKeyDown($event)" 
                (onPaste)="onPaste($event)" formControlName="username" name="username" [(ngModel)]="username" type="text">
            </div>
            <div class="form-group">
                <input class="form-control form-control-lg" name="password" placeholder="Contraseña" 
                formControlName="password" [(ngModel)]="password" type="password">
            </div>
            <div class="form-group">
                <button mat-raised-button style="background-color: #f7444e;" class="button-text" type="submit" (click)="onSubmit()">Vamos!</button>
            </div>
        </form>
    </div>
</body>
</html>